
<div style="text-align:center">
  <h3>
    Project Manager
  </h3>
    <br>
    <div class="container" >
      <div class="row align-items-start">
          <div class="col">
            <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active font-weight-bold" routerLink="/Project" routerLinkActive="active">Add Project</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link font-weight-bold" routerLink="/Task/:Task_ID" routerLinkActive="active">Add Task</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link font-weight-bold" routerLink="/User" routerLinkActive="active">Add User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" routerLink="/ViewTask" routerLinkActive="active">View Task</a>
                      </li>
                 </ul>
                  <router-outlet></router-outlet>
          </div>
        </div>

        
      <router-outlet></router-outlet>
    </div>
</div>
